<template>
</template>

<script>
/* TODO: Crear un template en el que se renderice la lista de enventos y que
se usará para mostrar la lista de eventos públicos, y los eventos en los que
está inscrito un usuario */
</script>
