<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <ul>
      <li>
        <b-button variant="primary" size="lg" v-on:click="login">
          Login
        </b-button>
      </li>
      <li>
      <b-button variant="success" size="lg">
        Registrarse
      </b-button>
      </li>
    </ul>
  </div>
</template>

<script>
import router from '../router'
import { isLogged } from '../../utils/auth'
export default {
  name: 'AppNav',
  data () {
    return {
      msg: 'Bienvenido al servicio de Meetup'
    }
  },
  methods: {
    login () {
      if (isLogged()) {
        console.error('You are already logged')
        router.push('privateOptions')
      } else {
        router.push('login')
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
