<template>
  <div>
    <h1>Login</h1>
    <login-form></login-form>
  </div>
</template>

<script>
// Ejemplo de reutilización del componente login
import login from '@/components/login'
export default {
  name: 'LoginForm',
  components: {
    'login-form': login
  }
}
</script>
