<template>
  <div id="eventList">
      <h1>Lista de eventos</h1>
    <ul>
      <li v-for="event in events" :key="event._id">
        {{ event.description }}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'eventList',
  data () {
    return {
      events: []
    }
  },
  created () {
    fetch('http://localhost:3000/events')
      .then(response => response.json())
      .then(json => {
        this.events = json.item
      })
  }
}
</script>
