<template>
  <div id="eventList">
      <h1>Eventos a los que estoy suscrito</h1>
      <b-row v-for="(event, index) in events" :key="event._id">
        <b-card
        :title= event.title
        :img-src= event.groupImage
        img-alt="Image"
        img-top
        style="max-width: 20rem; max-height: 60rem"
        class="mb-2">
        <p class="card-text">
          {{ event.description }}
        </p>
        <p>
          {{ index }}
        </p>
        <b-button href="#" variant="primary">Ver detalles</b-button>
      </b-card>
      </b-row>
    <b-alert variant="danger"
         dismissible
         :show="showDismissibleAlert"
         @dismissed="showDismissibleAlert=false">
         {{ alertMsg }}
    </b-alert>
  </div>
</template>

<script>
// Es mejor crear un componente únicamente para la alerta
import { getEventsForUser } from '../../utils/events'
export default {
  name: 'myEventsList',
  data () {
    return {
      events: [],
      showDismissibleAlert: false,
      alertMsg: ''
    }
  },
  created () {
    getEventsForUser().then(myEvents => {
      this.events = myEvents
    }).catch(error => {
      this.alertMsg = error
      this.showDismissibleAlert = true
    })
  }
}
</script>
