<template>
<div>
  <h1>{{ msg }}</h1>
  <ul>
    <li>
      <router-link to='myEvents'>
        <b-button variant="primary" size="lg">
          Mis eventos
        </b-button>
      </router-link>
    </li>
    <li>
      <router-link to='createEvent'>
        <b-button variant="success" size="lg">
          Añadir nuevo evento
        </b-button>
      </router-link>
    </li>
  </ul>
  <b-alert variant="danger" dismissible :show="showDismissibleAlert" @dismissed="showDismissibleAlert">
    {{ alertMsg }}
  </b-alert>
</div>
</template>

<script>
export default {
  name: 'UserPrivateMenu',
  data () {
    return {
      msg: 'Opciones de usuario',
      showDismissibleAlert: false,
      alertMsg: '',
      alertStyle: ''
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
