<template>
  <div id="login-form">
    <form @submit.prevent="handleLogin()">
      <input type="email" placeholder="email" v-model="email">
      <input type="password" placeholder="password" v-model="password">
      <button type="submit">Login</button>
    </form>
    <b-alert variant="danger"
         dismissible
         :show="showDismissibleAlert"
         @dismissed="showDismissibleAlert=false">
         {{ alertMsg }}
    </b-alert>
  </div>
</template>

<script>

import { login } from '../../../utils/auth'
import router from '../../router'

export default {
  template: '#login-form',
  name: 'Login',
  data () {
    return {
      email: '',
      password: '',
      showDismissibleAlert: false,
      alertMsg: ''
    }
  },
  methods: {
    handleLogin () {
      login(this.email, this.password)
        .then(response => {
          router.push('privateOptions')
        })
        .catch((error) => {
          this.showDismissibleAlert = true
          this.alertMsg = error.response.data.reason
        })
    }
  }
}
</script>
